<h2>Listings Index</h2>

<div>
  <h4>Filter by date:</h4>
  <%= form_tag("/listings", method: "get") do %>

  <%= select_tag "list_date", options_for_select(["Recent", "Older"]), include_blank: true %>
  <%= submit_tag "Filter" %>
  <% end %>
</div>

<% @listings.each do |l| %>
  <ul>
    <li>
      Date Listed: <%= l.created_at.strftime('%b %d, %Y') %><br>
      Property Location:<br>
      <%= l.street %><br>
      <%= l.city %>,
      <%= l.state %>
      <%= l.zip_code %>
    </li>
  </ul>
<% end %>