<h2>Listing</h2>

Address: <%= @listing.street %><br>
<%= @listing.city %>, <%= @listing.state %>
<%= @listing.zip_code %><br><br>

List Price: <%= number_to_currency(@listing.list_price, precision: 0) %>
<br>
Date Listed: <%= @listing.created_at.strftime('%b %d, %Y')%>

<p><%= link_to 'Delete', listing_path(@listing), method: :delete %></p>