<h2>Appointment</h2>

Realtor: <%= current_user.username %><br><br>

Location: <%= @appointment.listing.street %><br>
<%= @appointment.listing.city %>
<%= @appointment.listing.state %>
<%= @appointment.listing.zip_code %><br><br>

with <%= @appointment.buyer.name %><br>

on: <%= Chronic.parse(@appointment.date).strftime('%b %d, %Y')%><br>
at: <%= Chronic.parse(@appointment.date).strftime('%l:%M %p')%>

